.navbar > div {
  display: flex;
}
a {
  cursor: pointer;
}
.category > a {
  color: darkgray;
}
.card {
  margin-bottom: 10px !important;
}

@media only screen and (max-width: 600px) {
  .category {
    align-items: center;
    flex-direction: column;
  }
  .category > div {
    padding: 2px;
  }
}
